In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of thi  s data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
****q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

In [26]:
for i in range(5):
  if i == 4:
    i = 3
  for j in range(i):
    print("ineuron", end = " ")
  print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron

In [14]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [2]:
for ele in l:
  if type(ele) == list:
    print(ele)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [3]:
for ele in l:
  if type(ele) == dict:
    print(ele)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [4]:
for ele in l:
  if type(ele) == tuple:
    print(ele)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [7]:
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or type(j) == float:
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if type(k) == int or type(k) == float:
                print(k)
            if type(v) == int or type(v) == float:
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [9]:
sum = 0
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or type(j) == float:
                sum += j
    if type(i) == dict :
        for k,v  in i.items():
            if type(k) == int or type(k) == float:
                sum += k
            if type(v) == int or type(v) == float:
                sum += v
print(sum)

156

In [11]:
for i in l :
    if type(i) == list :
        for j in i :
            if (type(j) == int or type(j) == float) and j%2 != 0:
                print(j)

1
3

In [12]:
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if j == "ineuron":
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == "ineuron":
                print(k)
            if v == "ineuron":
                print(v)

ineuron
ineuron

In [17]:
elements = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            elements.append(j)
    if type(i) == dict :
        for k,v  in i.items():
            elements.append(k)
            elements.append(v)
set_ele = set(elements)
for ele in set_ele:
  print(f"The count of {ele} is {elements.count(ele)}")

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']
The count of k2 is 1
The count of 1 is 1
The count of 2 is 2
The count of 3 is 4
The count of 4 is 4
The count of 5 is 3
The count of 6 is 3
The count of 7 is 2
The count of k3 is 1
The count of 8 is 1
The count of 45 is 1
The count of k1 is 1
The count of data science  is 1
The count of ineuron is 2
The count of 23 is 1
The count of sudh is 1
The count of kumar is 1

In [19]:
count = 0
for i in l :
    if type(i) == dict :
      for k  in i.items():
        count += 1
print(count)

5

In [20]:
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == str :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if type(k) == str:
                print(k)
            if type(v) == str:
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [23]:
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == str :
              if j.isalnum():
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if type(k) == str :
              if k.isalnum():
                print(k)
            if type(v) == str:
              if v.isalnum():
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [25]:
ans = 1
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or type(j) == float:
                ans *= j
    if type(i) == dict :
        for k,v  in i.items():
            if type(k) == int or type(k) == float:
                ans *= k
            if type(v) == int or type(v) == float:
                ans *= v
print(ans)

908605071360000

In [24]:
elements = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            elements.append(j)
    if type(i) == dict :
        for k,v  in i.items():
            elements.append(k)
            elements.append(v)
print(elements)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']