In [2]:
!pip install pymysql
!pip install csvkit
!pip install mysql
!pip install mysql-connector
!pip install "pymongo[srv]"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.1 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting csvkit
  Downloading csvkit-1.0.7-py2.py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 476 kB/s
Collecting agate-excel>=0.2.2
  Downloading agate_excel-0.2.5-py2.py3-none-any.whl (7.1 kB)
Collecting agate-dbf>=0.2.2
  Downloading agate_dbf-0.2.2-py2.py3-none-any.whl (3.5 kB)
Collecting agate>=1.6.1
  Downloading agate-1.6.3-py2.py3-none-any.whl (100 kB)
     |████████████████████████████████| 100 kB 3.3 MB/s
Collecting agate-sql>=0.5.3
  Downloading agate_sql-0.5.8-py2.py3-none-any.whl (7.1 kB)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.7/dist-packages (from csvkit) (1.15.0)
Collecting leather>=0.3.2
  Downloading leather-0.3.4-py2.py3-none-any.whl (31 kB)
Collecting pytimeparse>=1.1.5
  Downloading pytimeparse-1.1.8-py2.py3-none-any.whl (10.0 kB)
Collecting isodate>=0.5.4
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 668 kB/s
Requirement already satisfied: Babel>=2.0 in /usr/local/lib/python3.7/dist-packages (from agate>=1.6.1->csvkit) (2.10.3)
Collecting parsedatetime!=2.5,!=2.6,>=2.1
  Downloading parsedatetime-2.4.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 6.1 MB/s
Requirement already satisfied: python-slugify>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from agate>=1.6.1->csvkit) (6.1.2)
Collecting dbfread>=2.0.5
  Downloading dbfread-2.0.7-py2.py3-none-any.whl (20 kB)
Collecting olefile
  Downloading olefile-0.46.zip (112 kB)
     |████████████████████████████████| 112 kB 23.5 MB/s
Requirement already satisfied: openpyxl>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from agate-excel>=0.2.2->csvkit) (3.0.10)
Requirement already satisfied: xlrd>=0.9.4 in /usr/local/lib/python3.7/dist-packages (from agate-excel>=0.2.2->csvkit) (1.1.0)
Requirement already satisfied: sqlalchemy>=1.0.8 in /usr/local/lib/python3.7/dist-packages (from agate-sql>=0.5.3->csvkit) (1.4.40)
Requirement already satisfied: pytz>=2015.7 in /usr/local/lib/python3.7/dist-packages (from Babel>=2.0->agate>=1.6.1->csvkit) (2022.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=2.3.0->agate-excel>=0.2.2->csvkit) (1.1.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from parsedatetime!=2.5,!=2.6,>=2.1->agate>=1.6.1->csvkit) (0.16.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify>=1.2.1->agate>=1.6.1->csvkit) (1.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.0.8->agate-sql>=0.5.3->csvkit) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.0.8->agate-sql>=0.5.3->csvkit) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.0.8->agate-sql>=0.5.3->csvkit) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.0.8->agate-sql>=0.5.3->csvkit) (4.1.1)
Building wheels for collected packages: parsedatetime, olefile
  Building wheel for parsedatetime (setup.py) ... done
  Created wheel for parsedatetime: filename=parsedatetime-2.4-py3-none-any.whl size=42773 sha256=8bf50ac8ed8f012d3bb97ab01feb5ad72c02507b6ddfd43e9b3f496b24b5a174
  Stored in directory: /root/.cache/pip/wheels/68/0f/b7/539a31a4068565a53913d7f8cfc6c7521cca2ea091b8a72048
  Building wheel for olefile (setup.py) ... done
  Created wheel for olefile: filename=olefile-0.46-py2.py3-none-any.whl size=35432 sha256=7db9b74a0c7329c3bd425ff09f71baff335ddadf35261b50f3bf08fd46d5b5bc
  Stored in directory: /root/.cache/pip/wheels/84/53/e6/37d90ccb3ad1a3ca98d2b17107e9fda401a7c541ea1eb6a65a
Successfully built parsedatetime olefile
Installing collected packages: pytimeparse, parsedatetime, leather, isodate, olefile, dbfread, agate, agate-sql, agate-excel, agate-dbf, csvkit
Successfully installed agate-1.6.3 agate-dbf-0.2.2 agate-excel-0.2.5 agate-sql-0.5.8 csvkit-1.0.7 dbfread-2.0.7 isodate-0.6.1 leather-0.3.4 olefile-0.46 parsedatetime-2.4 pytimeparse-1.1.8
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.1.1.tar.gz (88 kB)
     |████████████████████████████████| 88 kB 2.9 MB/s
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.1-cp37-cp37m-linux_x86_64.whl size=99981 sha256=5bb99de46a3724ac64ed644ac63de095f7829dc42b4272dbbe4af3ff54f1400d
  Stored in directory: /root/.cache/pip/wheels/95/2d/67/2cb3f82e435fc8e055cb2761a15a0812bf086068f6fb835462
Successfully built mysqlclient
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.1.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 3.2 MB/s
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247965 sha256=a579595c309ab7eb878b40da40843bb8664432ac58b7d3a7d766466032fbd61f
  Stored in directory: /root/.cache/pip/wheels/42/2f/c3/692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.2.0)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 3.2 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [3]:
import pandas as pd
import json
import pymongo

1. Read this dataset in pandas , mysql and mongodb

In [20]:
df_FitBit = pd.read_csv('FitBit.csv')

2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql

In [21]:
!csvsql --db mysql://root:ammaacha@localhost:3306/july31classtask--insert Superstore.csv
#Uploaded table manually using automatic import option in MySQL

OperationalError: (MySQLdb.OperationalError) (2002, "Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [22]:
client = pymongo.MongoClient("mongodb+srv://imailpradeep:ammaacha@cluster0.gujy4jv.mongodb.net/?retryWrites=true&w=majority")
db = client.test
database = client['FitBit']    
collection = database['FitBit_col']

In [23]:
df_FitBit.to_json("FitBit_json")

In [24]:
with open("FitBit_json") as file:
    fitbit_file = json.load(file)
    collection.insert_many([fitbit_file])

3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [46]:
# df_FitBit.head()
# df_FitBit['ActivityDate'].dtypes
df_FitBit['ActDt'] = pd.to_datetime(df_FitBit['ActivityDate'])

In [47]:
#do same in MySQL
df_FitBit['ActDt'].dtypes

dtype('<M8[ns]')

4 . Find out in this data that how many unique id's we have

In [136]:
#df_FitBit.columns
len(df_FitBit['Id'].unique())

35

5 . which id is one of the active id that you have in whole dataset

In [188]:
# df_FitBit.groupby(['Id']).sum().sort_values(['Calories'],ascending=False).index[0] # gave answer 4020332650
df_FitBit.groupby(['Id'])['Calories'].sum().sort_values(ascending=False).index[0]

4020332650

6 . how many of them have not logged there activity find out in terms of number of ids

In [127]:
a = df_FitBit.groupby(['Id']).sum(['LoggedActivitiesDistance'])
len(a[(a['LoggedActivitiesDistance']==0)]['TotalSteps']) 
# used ['TotalSteps'] since ['Id'] was not working

29

7 . Find out who is the laziest person id that we have in dataset

In [189]:
# df_FitBit.groupby(['Id']).sum().sort_values(['Calories'],ascending=True).index[0] # gave answer 4388161847
df_FitBit.groupby(['Id'])['Calories'].sum().sort_values(ascending=True).index[0]

4388161847

8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset <br>
Calories burnt normally is 1905

In [221]:
# total calories burnt per day. day value is how many we have in database and not how many in a month
# sum of days per ----------->  is df_FitBit.groupby(['Id'])['ActDt'].count()
# sum of calories per Id -----------> df_FitBit.groupby(['Id'])['Calories'].sum()
a = ( ( df_FitBit.groupby(['Id'])['Calories'].sum() ) / ( df_FitBit.groupby(['Id'])['ActDt'].count() ) )
a = pd.DataFrame(a)#[0].sort_values(ascending=False)

In [225]:
def Result(i):
  if (i>=1905):
    return 'healthy'
  else:
    return 'unhealthy'

In [237]:
a['Result'] = a[0].apply(Result)
#a.sort_values(['Result'])
a[a['Result']=='healthy'][0].count()

21

9. how many person are not a regular person with respect to activity try to find out those <br>
------> If used FItBit for 20 days or more they are classified as regular

In [258]:
def Regular(i):
  if i <20:
    return 'Ir-regular'
  else:
    return 'Regular'

a = df_FitBit.groupby(['Id'])['ActDt'].count()
a = pd.DataFrame(a)
a['Regularity'] = a['ActDt'].apply(Regular)
a[a['Regularity']=='Regular']['Regularity'].count()

2

10 . who is the thired most active person in this dataset find out those in pandas and in sql both .

In [260]:
df_FitBit.groupby(['Id'])['Calories'].sum().sort_values(ascending=False).index[2]

4702921684

11 . who is the 5th most laziest person avilable in dataset find it out

In [264]:
df_FitBit.groupby(['Id'])['Calories'].sum().sort_values(ascending=True).index[4]

8253242879

12 . what is a totla acumulative calories burn for a person find out

In [268]:
df_FitBit.groupby(['Id'])['Calories'].sum().sort_values(ascending=False)

Id
4020332650    98412
4057192912    60913
4702921684    42322
8877689391    41414
8378563200    40274
5577150313    36303
1503960366    34128
8053475328    31825
4445114986    31617
7007744171    31525
2347167796    30320
2022484408    29704
6962181067    29249
1644430081    29164
1927972279    27048
7086361926    26124
1624580081    25705
8792009665    24884
6775888955    24523
4319703577    23931
4558609924    21962
6290855005    21656
5553957443    21630
6117666160    20993
2873212765    20349
1844505072    19391
8583815059    19130
3372868164    18603
2320127002    18385
2891001357    18187
8253242879    17556
3977333714    16777
2026352035    16266
6391747486    15868
4388161847    14442
Name: Calories, dtype: int64