In [ ]:
import pandas as pd

In [ ]:
df_login = pd.read_csv('LoginReport.csv', parse_dates = ['Date'])
df_performance = pd.read_csv('Performance.csv', parse_dates = ['Date']) # without parse_dates getting error in dt. 
# unicode error hence uploaded to Colab manually

**1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave** <br>
*-not able to solve this*

**2 .Total working days for each agents** <br>
*-Count the total hours logged and divided by 8 to get total working days but I donot know how to divide this sum*

In [ ]:
df_login['Duration1'] = pd.to_timedelta(df_login['Duration'])

In [ ]:
df_login.groupby('Agent')['Duration1'].sum().sort_values(ascending=False).head()

Agent
Tarun              21 days 10:08:20
Deepranjan Gupta    4 days 10:16:31
Jaydeep Dixit       2 days 11:50:26
Hrisikesh Neogi     2 days 09:34:07
Shubham Sharma      2 days 05:47:54
Name: Duration1, dtype: timedelta64[ns]

**3. Total query that agents have taken**

In [ ]:
df_performance.groupby(['Agent Name'])['Total Chats'].sum().sort_values(ascending=False).head()

Agent Name
Hrisikesh Neogi    578
Nandani Gupta      560
Zeeshan            542
Maitry             542
Swati              524
Name: Total Chats, dtype: int64

**4. total Feedback that you have received**

In [ ]:
df_performance.groupby(['Agent Name'])['Total Feedback'].sum().sort_values(ascending=False).head()

Agent Name
Hrisikesh Neogi    367
Mithun S           364
Maitry             347
Zeeshan            335
Ayushi Mishra      329
Name: Total Feedback, dtype: int64

**5. a agent name who have average rating between 3.5 to 4**

In [ ]:
Rating_data = df_performance.groupby(['Agent Name'])['Average Rating'].mean().sort_values(ascending=False)

In [ ]:
Rating_data.head()

Agent Name
Shivananda Sonwane     4.232667
Khushboo Priya         3.703667
Manjunatha A           3.594667
Boktiar Ahmed Bappy    3.568000
Ishawant Kumar         3.543333
Name: Average Rating, dtype: float64

In [ ]:
Rating_df = pd.DataFrame(Rating_data)

In [ ]:
Rating_df[(Rating_df['Average Rating']>3.5) & (Rating_df['Average Rating']<5)] # 'and' does not work

                     Average Rating
Agent Name
Shivananda Sonwane         4.232667
Khushboo Priya             3.703667
Manjunatha A               3.594667
Boktiar Ahmed Bappy        3.568000
Ishawant Kumar             3.543333

**6 . Agent name who have rating lesss then 3.5**

In [ ]:
Rating_df[(Rating_df['Average Rating']<3.5)].head()

                Average Rating
Agent Name
Madhulika G           3.498667
Ayushi Mishra         3.482000
Jawala Prakash        3.472000
Sanjeev Kumar         3.383000
Nishtha Jain          3.282333

**8 . how many feedaback agents have received more then 4.5 average**

In [ ]:
Rating_df[(Rating_df['Average Rating']>4.5)].shape[0] # shape gives number of rows and columns as (r,c)

0

**7 . agent name who have rating more then 4.5** <br>
*-I do not know to give 'NIL'*

In [183]:
Rating_df[(Rating_df['Average Rating']>4.5)].fillna('NIL')

Empty DataFrame
Columns: [Average Rating]
Index: []

**9 . average weekly response time for each agent**

In [ ]:
df_performance['Week'] = df_performance['Date'].dt.isocalendar().week

In [148]:
df_performance['Average Response Time1'] = pd.to_timedelta(df_performance['Average Response Time'])
Response_Time_data = df_performance.groupby(['Agent Name','Week'])['Average Response Time1'].mean()

In [149]:
Response_Time_data

Agent Name  Week
Abhishek    1      0 days 00:00:00
            6      0 days 00:00:00
            10     0 days 00:00:00
            14     0 days 00:00:00
            18     0 days 00:00:00
                         ...
Zeeshan     31     0 days 00:01:23
            36     0 days 00:00:00
            40     0 days 00:00:00
            45     0 days 00:01:53
            49     0 days 00:01:44
Name: Average Response Time1, Length: 1050, dtype: timedelta64[ns]

**10 . average weekely resolution time for each agents**

In [151]:
df_performance['Average Resolution Time1'] = pd.to_timedelta(df_performance['Average Resolution Time'])
Resolution_Time_data = df_performance.groupby(['Agent Name','Week'])['Average Resolution Time1'].mean()

In [153]:
Resolution_Time_data

Agent Name  Week
Abhishek    1      0 days 00:00:00
            6      0 days 00:00:00
            10     0 days 00:00:00
            14     0 days 00:00:00
            18     0 days 00:00:00
                         ...
Zeeshan     31     0 days 00:21:15
            36     0 days 00:00:00
            40     0 days 00:00:00
            45     0 days 00:24:05
            49     0 days 00:25:50
Name: Average Resolution Time1, Length: 1050, dtype: timedelta64[ns]

**11 . list of all agents name**

In [154]:
df_performance['Agent Name'].unique()

array(['Abhishek ', 'Aditya ', 'Aditya Shinde', 'Aditya_iot ', 'Amersh ',
       'Ameya Jain', 'Anirudh ', 'Ankit Sharma', 'Ankitjha ',
       'Anurag Tiwari', 'Aravind ', 'Ashad Nasim', 'Ashish ',
       'Ayushi Mishra', 'Bharath ', 'Boktiar Ahmed Bappy',
       'Chaitra K Hiremath', 'Deepranjan Gupta', 'Dibyanshu ',
       'Harikrishnan Shaji', 'Hitesh Choudhary', 'Hrisikesh Neogi',
       'Hyder Abbas', 'Ineuron Intelligence ', 'Ishawant Kumar',
       'Jawala Prakash', 'Jayant Kumar', 'Jaydeep Dixit',
       'Khushboo Priya', 'Madhulika G', 'Mahak ', 'Mahesh Sarade',
       'Maitry ', 'Maneesh ', 'Manjunatha A', 'Mithun S', 'Mukesh ',
       'Mukesh Rao ', 'Muskan Garg', 'Nandani Gupta', 'Nishtha Jain',
       'Nitin M', 'Prabir Kumar Satapathy', 'Prateek _iot ',
       'Prerna Singh', 'Rishav Dash', 'Rohan ', 'Saif Khan',
       'Saikumarreddy N', 'Samprit ', 'Sandipan Saha', 'Sanjeev Kumar',
       'Sanjeevan ', 'Saurabh Shukla', 'Shiva Srivastava', 'Shivan K',
       'Shivan_S ', 'Shivananda Sonwane', 'Shubham Sharma',
       'Sowmiya Sivakumar', 'Spuri ', 'Sudhanshu Kumar', 'Suraj S Bilgi',
       'Swati ', 'Tarun ', 'Uday Mishra', 'Vasanth P', 'Vivek ', 'Wasim ',
       'Zeeshan '], dtype=object)

**12 . percentage of chat on which they have received a feedback**

In [197]:
df_performance['Percent Feedback'] = ((df_performance['Total Feedback']*100) / df_performance['Total Chats']).fillna(0)
df_performance.groupby(['Agent Name'])['Percent Feedback'].mean().sort_values(ascending = False)

Agent Name
Boktiar Ahmed Bappy      58.219228
Khushboo Priya           57.218382
Shivananda Sonwane       55.150435
Nishtha Jain             52.935930
Ishawant Kumar           52.642559
                           ...
Sanjeevan                 0.000000
Ankit Sharma              0.000000
Samprit                   0.000000
Ineuron Intelligence      0.000000
Abhishek                  0.000000
Name: Percent Feedback, Length: 70, dtype: float64

**13 . Total contributation hour for each and every agents weekly basis**

In [188]:
df_login['Week'] = df_login['Date'].dt.isocalendar().week
df_login.groupby(['Agent', 'Week'])['Duration1'].sum().sort_values(ascending=False)

Agent               Week
Tarun               26     21 days 10:08:20
Deepranjan Gupta    30      2 days 09:16:44
                    29      2 days 00:59:47
Jaydeep Dixit       29      1 days 17:54:52
Harikrishnan Shaji  30      1 days 08:16:35
                                 ...
Hyder Abbas         29      0 days 00:20:10
Anurag Tiwari       29      0 days 00:15:52
Aravind             30      0 days 00:03:49
Hyder Abbas         30      0 days 00:03:07
Aditya Shinde       30      0 days 00:02:10
Name: Duration1, Length: 89, dtype: timedelta64[ns]

**14. total percentage of active hour for a month**

In [255]:
df_login['Hours'] = (df_login['Duration1'].dt.total_seconds())/3600

In [256]:
df_Active_Hours = pd.DataFrame(df_login.groupby(['Agent'])['Hours'].sum().sort_values(ascending=False))
df_Active_Hours['Percentage_Active_Hours'] = (df_Active_Hours['Hours']*100)/173.5 # average work hours per month is 173.5

In [257]:
df_Active_Hours.head()

                       Hours  Percentage_Active_Hours
Agent
Tarun             514.138889               296.333654
Deepranjan Gupta  106.275278                61.253762
Jaydeep Dixit      59.840556                34.490234
Hrisikesh Neogi    57.568611                33.180756
Shubham Sharma     53.798333                31.007685

In [259]:
df_login.groupby(['Agent'])['Hours'].sum().sort_values(ascending=False)

Agent
Tarun                     514.138889
Deepranjan Gupta          106.275278
Jaydeep Dixit              59.840556
Hrisikesh Neogi            57.568611
Shubham Sharma             53.798333
Harikrishnan Shaji         53.714722
Dibyanshu                  52.595833
Ishawant Kumar             51.778889
Shivananda Sonwane         49.287778
Zeeshan                    49.088611
Wasim                      48.179167
Bharath                    48.076667
Jawala Prakash             46.402222
Sudhanshu Kumar            46.231111
Madhulika G                46.060278
Prerna Singh               45.715556
Mithun S                   45.173611
Sowmiya Sivakumar          44.754167
Sanjeev Kumar              44.687222
Nishtha Jain               43.852778
Khushboo Priya             43.558611
Saikumarreddy N            43.137500
Mahesh Sarade              42.921944
Ameya Jain                 42.075556
Rishav Dash                41.775556
Manjunatha A               41.274722
Boktiar Ahmed Bappy        40.268611
Nandani Gupta              40.172222
Ayushi Mishra              38.121667
Shivan K                   36.102222
Chaitra K Hiremath         34.325556
Prabir Kumar Satapathy     33.377222
Maitry                     30.945000
Swati                      25.001111
Aravind                    24.299167
Prateek _iot               18.418056
Muskan Garg                17.335556
Saurabh Shukla             16.663056
Aditya_iot                 15.731111
Shiva Srivastava           14.994167
Suraj S Bilgi              12.559167
Mukesh                      8.905000
Amersh                      3.063889
Anurag Tiwari               2.778889
Ankitjha                    2.266944
Ineuron Intelligence        1.448611
Nitin M                     0.798889
Hyder Abbas                 0.388056
Aditya Shinde               0.036111
Name: Hours, dtype: float64

**Tarun hass logged in but not logged off**