Write a Python program to find sum of elements in list?

In [4]:
num_ele = int(input("Enter the number of elements in the list: "))
lst = []
for i in range(num_ele):
  lst.append(float(input("Enter numbers: ")))
sum = 0
for ele in lst:
  if type(ele) == float:
    sum += ele
print(sum)

Enter the number of elements in the list: 3
Enter numbers: 34
Enter numbers: 31465.65
Enter numbers: 56136536
56168035.65

2. Write a Python program to Multiply all numbers in the list?

In [7]:
num_ele = int(input("Enter the number of elements in the list: "))
lst = []
for i in range(num_ele):
  lst.append(float(input("Enter numbers: ")))
product = 1
for ele in lst:
  if type(ele) == float:
    product *= ele
print(product)

Enter the number of elements in the list: 3
Enter numbers: 2
Enter numbers: 1.5
Enter numbers: 3
9.0

3. Write a Python program to find smallest number in a list?

In [11]:
num_ele = int(input("Enter the number of elements in the list: "))
lst = []
for i in range(num_ele):
  lst.append(float(input("Enter numbers: ")))
  
print(min(lst))

Enter the number of elements in the list: 3
Enter numbers: 2
Enter numbers: 3.5
Enter numbers: 56
2.0

4. Write a Python program to find largest number in a list?

In [12]:
num_ele = int(input("Enter the number of elements in the list: "))
lst = []
for i in range(num_ele):
  lst.append(float(input("Enter numbers: ")))
  
print(max(lst))

Enter the number of elements in the list: 3
Enter numbers: 34
Enter numbers: 2
Enter numbers: 2346572.7
2346572.7

5. Write a Python program to find second largest number in a list?

In [24]:
num_ele = int(input("Enter the number of elements in the list: "))
lst = []
for i in range(num_ele):
  lst.append(float(input("Enter numbers: ")))
lst.remove(max(lst))
print(max(lst))

Enter the number of elements in the list: 2
Enter numbers: 1
Enter numbers: 2
1.0

6. Write a Python program to find N largest elements from a list?

In [39]:
num_ele = int(input("Enter the number of elements in the list: "))
lst = []
for i in range(num_ele):
  lst.append(float(input("Enter numbers: ")))
lst.sort()
print(lst[-5:])

Enter the number of elements in the list: 6
Enter numbers: 3
Enter numbers: 2
Enter numbers: 1
Enter numbers: 4
Enter numbers: 6
Enter numbers: 5
[2.0, 3.0, 4.0, 5.0, 6.0]

7. Write a Python program to print even numbers in a list?3

In [44]:
num_ele = int(input("Enter the number of elements in the list: "))
lst = []
for i in range(num_ele):
  a = float(input("Enter numbers: "))
  if a%2 == 0:
    lst.append(a)

print(lst)

Enter the number of elements in the list: 5
Enter numbers: 2
Enter numbers: 3
Enter numbers: 5
Enter numbers: 6
Enter numbers: 7
[2.0, 6.0]

8. Write a Python program to print odd numbers in a List?

In [ ]:
num_ele = int(input("Enter the number of elements in the list: "))
lst = []
for i in range(num_ele):
  a = float(input("Enter numbers: "))
  if a%2 != 0:
    lst.append(a)

print(lst)

9. Write a Python program to Remove empty List from List?

In [52]:
lst = [1,2,[],4,[2,4,5,6],[],7,[45,34,56,78]]
print(lst)
for ele in lst:
  if ele == []:
    lst.remove([])
print(lst)

[1, 2, [], 4, [2, 4, 5, 6], [], 7, [45, 34, 56, 78]]
[1, 2, 4, [2, 4, 5, 6], 7, [45, 34, 56, 78]]

10. Write a Python program to Cloning or Copying a list?

In [56]:
lst1 = [1, 2, [], 4, [2, 4, 5, 6], [], 7, [45, 34, 56, 78]]
lst2 = [1, 2, [], [45, 34, 56, 78], (3,4,6,7), {23:345,45:567,'we':'awttw'}]
lst3 = lst1
print(lst3)

lst4 = []
for ele in lst2:
  lst4.append(ele)
print(lst4)

[1, 2, [], 4, [2, 4, 5, 6], [], 7, [45, 34, 56, 78]]
[1, 2, [], [45, 34, 56, 78], (3, 4, 6, 7), {23: 345, 45: 567, 'we': 'awttw'}]

11. Write a Python program to Count occurrences of an element in a list?

In [65]:
lst = [1, 2, 4, 2, 4, 5, 6, 7, 45, 34, 56, 78]
s = set(lst)
for ele in s:
  print(f"the element {ele} occours {lst.count(ele)} times")

the element 1 occours 1 times
the element 2 occours 2 times
the element 34 occours 1 times
the element 4 occours 2 times
the element 5 occours 1 times
the element 6 occours 1 times
the element 7 occours 1 times
the element 45 occours 1 times
the element 78 occours 1 times
the element 56 occours 1 times